<div class="labels">
  <div class="label-pair">
    <div class="work">Engineer</div>
    <div class="play">Rock Climber</div>
  </div>
  <div class="label-pair">
    <div class="work">Teacher</div>
    <div class="play">Board Gamer</div>
  </div>
  <div class="label-pair">
    <div class="work">Writer</div>
    <div class="play">Reader</div>
  </div>
  <div class="label-pair">
    <div class="work">Architect</div>
    <div class="play">Wood Worker</div>
  </div>
  <div class="label-pair">
    <div class="work">Designer</div>
    <div class="play">Friend &lt;3</div>
  </div>
</div>
